button {
    width: 100%;
    height: 100%;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    background-color: white;
}

.active-player {
    font-weight: 700;
}